header
{
	/* Anchura mínima en un bloque normal */
   min-height: 6%;
   
   /* Margen superior para que se vea la pizarra de fondo */
   margin-top: 40px;
   
   /* Esta instrucción indica que el borde debe ocmportarse como si
      fuese un elementro interno del header */
   background-origin: content-box;

   /* Pequeño espacio para que el logo no se junte con el borde */
   padding-left: 1%;
   
   /* Cargamos el icono de vuelta atrás */
   background-image: url(../img/profesconclase_azul.png);
   
   /* Evitamos que se epita por todo el header */
   background-repeat: no-repeat;
   
   /* Redimensionamos la imagen de fondo */
   background-size: contain;
   
   /* Para mantener los botones dentro del header */
   overflow: hidden;
}

#salir
{
   /* Para que los botones se alineen a la derecha */
   float: right;
   
   /* Límites del boton */
   min-width: 10%;
   min-height: 6%;
}

body
{
   width: 100%;
   /*
   Para hacer que sea visible en safari
   display : -webkit-flex;
   */
   
   /* Reseteamos los margenes por defecto del navegador */
   margin: 0px;
}

#bandejaEntrada > #mensajes > #fecha {
   width: 30%;
   text-align: center;
}

#bandejaEntrada > #mensajes > #asunto {
   width: 30%;
   text-align: center;
}

#bandejaEntrada > #mensajes > #autor {
   width: 30%;
   text-align: center;
}

#informacionMensajes > pre {
   overflow: auto;
   margin : auto;
}

#informacionMensajes > form, #informacionMensajes > #informacionBotones {
   display: flex;
   flex-direction: column;
   margin: auto;
}

@media(min-width: 768px){
   #principal {
      display: flex;
      flex-direction: column;
      height: 75%;
   }

   #parte1{
      display: flex;
      flex-direction: row;
      height: 70%;
   }

   #parte2{
      display: flex;
      flex-direction: row;
      height: 30%;
   }

   #bandejaEntrada > #mensajes{
      display: flex;
      overflow: auto;
      height: 100%;
   }

   #estado{
      flex-basis: 70%;
   }

   #bandejaEntrada{
      flex-basis: 55%; 
      flex-shrink: 1;
   }

   #gestionUsuarios{
      flex-basis: 30%;
      flex-shrink: 3;
   }

   #informacionMensajes {
      color : white;
      visibility: initial;
      flex-basis: 60%;
      overflow: auto;
   }

}

@media(max-width: 768px){
   #principal {
      display: flex;
      flex-direction: column;
      height: 100%;
   }

   #parte1{
      display: flex;
      flex-direction: column;
      height: 60%;
   }

   #parte2{
      display: flex;
      flex-direction: column;
      height: 40%;
   }

   #bandejaEntrada > #mensajes{
      display: flex;
      overflow: auto;
      height: 100%;
   }

   #bandejaEntrada {
      height: 25%;
   }

   #informacionMensajes {
      height: 75%;
      overflow: auto;
   }

   #estado {
      height: 85%;
   }

   #gestionUsuarios{
      height: 15%;
   }

}

#estado, #informacionMensajes, #bandejaEntrada, #gestionUsuarios{
   margin : 5 5 5 5;
   background-color: #6414B4;
   border: 3px solid black;
}

footer
{
   /* Para que los botones se coloquen a la izquierda */
   display: flex;
   
   margin-bottom: 40px;
	min-height: 10%;
}

#miembros, #contacto
{
   /* Margen con el inicio del footer */
   margin-top: 10px;
   min-width: 20%;
   min-height: 5%;
}

#miembros > h1, #contacto > h1, #miembros > p, #contacto > p,
#gestionUsuarios > h1, #bandejaEntrada > h1, #estado > h1
{
   /* Margen con el borde de la página */
   margin-left: 5%;
}

#estado > p {
   margin-left: 10px;
}