*
{
   /* Fuente predeterminada de la web */
   font-family: 'Ubuntu', sans-serif;
}

body
{
   /* Color por defecto */
	background-color: white;
}

p
{
   color: white;
   font-size: 1.5em;  
}

header
{
	background-color : #460A78;
}

#salir
{
   /* Color de acción */
   background-color: #6414B4;
   
   /* Color del borde */
   border-color: #6414B4;
   
   /* Color de la fuente */
   color: white;
   
   /* Tamaño de la fuente */
   font-size: larger;
}

footer
{
	background-color : #460A78;
}

h1
{
   /* Para quitar la letra en negrita */
   font-weight: normal;
   
   color: white;
   font-size: 1.5em;
}

p
{
   color: white;
   font-size: 1em;
   margin-top: 10px;
   margin-bottom: 10px;
}