

#principal {
	/*La div principal es un contenedor flexible, los hijos de principal herendan la propiedad*/

	/*Los elementos dentro del contenedor se van a alinear en columnas, 3 columnas por fila */
	flex-direction: column;
    -webkit-flex-direction: column;
    /*Contenedor flexible con multiples filas (wrap), cada fila con tres div */
    flex-wrap: wrap; 
    -webkit-flex-wrap: wrap;
    /*La division principal ocupa el 100% de la pantalla en horizontal, luego se repartira en cada caja*/
    width: 100%;
}

#login, #logout, #registrarse
{
   /* Para que los botones se alineen a la derecha */
   float: right;
   
   /* Límites del boton */
   min-width: 10%;
   min-height: 6%;

   /* Color de acción */
   background-color: #94B8DD;
   
   /* Color del borde */
   border-color: #376092;
   
   /* Color de la fuente */
   color: white;
   
   /* Tamaño de la fuente */
   font-size: larger;
   
   /* El cursor se convierte en mano */
   cursor: hand;
}

.dashboard{
	flex-direction: column;
    -webkit-flex-direction: column;
}
