*{
	/* El cursor en todo momento es la flecha */
   cursor: default;
}

body{
	background-color: lightblue;
	color: white;
}

.dashboard{
	border-color: #778EAA;
	background-color: #6C8DBC;
}

.oscuro{
	background-color: #376092;
	border-color: #778EAA;
}

#login, #logout, #registrarse
{
   /* Color de acción */
   background-color: #94B8DD;
   /* Color del borde */
   border-color: #376092;
   /* Color de la fuente */
   color: white; 
   /* Tamaño de la fuente */
   font-size: larger;
}

p, a, #login, #logout, #registrarse{
	/* El cursor se convierte en mano */
   cursor: hand;
}

@media (min-width: 768px){ /*Tamaño escritorio*/

	.dashboard{
		padding: 1em;

		border-width: 4px;
		border-style: groove; /*Hacer con JS que al poner el raton encima se cambie el borde a "double" asi se ve como que seleccionamos el div*/
		text-align: center;

		float: left;
		margin-left: 5px;
		margin-right: 5px;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 29%; /*Ancho*/
		/*height: 16%; Altura*/
	}

	p{
		font-size: 20px;
		line-height: 1.5; /*Espaciado entre las frases*/
		text-align: left;
	}

	p.tituloDiv{
		font-size: 32px;
		line-height: 1.4; /*Espaciado entre las frases*/
	}

}

@media (max-width: 768px){ /*Tamaño Movil*/
	.dashboard{
	    padding: 0.5em;
	    border-width: 2px;
	    border-style: groove;
	    margin: 2px;
	}

	p{
		font-size: 14px;
		line-height: 1; /*Espaciado entre las frases*/
		text-align: left;
	}

	p.tituloDiv{
		font-size: 15px;
		line-height: 1.6; /*Espaciado entre las frases*/
	}
}