/* --------Parte igual para todas las paginas de la web--------- */

body
{
   width: 100%;
   /*
	Para hacer que sea visible en safari
	display : -webkit-flex;
	*/
	
	/* Reseteamos los margenes por defecto del navegador */
	margin: 0px;
}

header
{
	/* Anchura mínima en un bloque normal */
	min-height: 6%;
	
	/* Margen superior para que se vea la pizarra de fondo */
   margin-top: 40px;
   
   /* Esta instrucción indica que el borde debe ocmportarse como si
      fuese un elementro interno del header */
   background-origin: content-box;

   /* Pequeño espacio para que el logo no se junte con el borde */
   padding-left: 1%;
   
   /* Cargamos el icono de vuelta atrás */
   background-image: url(../img/profesconclase_azul.png);
   
   /* Evitamos que se epita por todo el header */
   background-repeat: no-repeat;
	
	/* Redimensionamos la imagen de fondo */
	background-size: contain;
   
   /* Para mantener los botones dentro del header */
   overflow: hidden;
}

#login, #registrarse, #salir
{
   /* Para que los botones se alineen a la derecha */
   float: right;
   
   /* Límites del boton */
   min-width: 10%;
   min-height: 6%;
}

footer
{
   /* Para que los botones se coloquen a la izquierda */
   display: flex;
   
   margin-bottom: 40px;
	min-height: 10%;
}

#miembros, #contacto
{
   /* Margen con el inicio del footer */
   margin-top: 10px;
   min-width: 20%;
   min-height: 5%;
}

#miembros > h1, #contacto > h1, #miembros > p, #contacto > p
{
   /* Margen con el borde de la página */
   margin-left: 5%;
}

/* ----------Estructura - > Index.html--------- */

#index_principal{
   display: flex;
   flex-direction: column;
   height: 75%;
}

#index_logoPrincipal {
   margin: auto;
   width: 75%;
   min-height: 30%;
}

#index_loginForm {
   position: absolute;
   left:0;
   top:0;
   right: 0;
   bottom: 0;
   top: 10%;
   width: 100%;
   height: 15%;
}

#index_loginForm2 {
   position: float;
   float: right;
   color: white;

   visibility: hidden;
}

#index_loginForm2 > form {
   display: flex;
   flex-direction: row;
}

#index_botonesInfo {
   position: relative;
   width: 65%;
   height: 10%;
   margin: 0 auto;
   margin-bottom: 130px;
}

.index_info{
   width: 100%;
   min-height: 50px;
   margin : 5px;
}

#index_etiquetas {
   text-align: right;
   margin-top: 25px;
   margin-right: 10px;
   line-height: 20px;
   order:1;
}

#index_entradas {
   text-align: left;
   margin-top: 25px;
   margin-right: 15px;
   order:2;
}

#index_sub{
   margin-right: 5px;
   margin-top: 35px;
   order:3;
}

@media (min-width: 768px) {
   #index_botonesInfo2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
   }
}

@media (max-width: 768px) {
   #index_botonesInfo2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
}

/* ----------Estructura - > administrador.html--------- */

#admin_informacionMensajes > pre {
   overflow: auto;
   margin : auto;
}

#admin_informacionMensajes > form, #admin_informacionMensajes > #admin_informacionBotones {
   display: flex;
   flex-direction: column;
   margin: auto;
}

@media(min-width: 768px){
   #admin_principal {
      display: flex;
      flex-direction: column;
      height: 75%;
   }

   #admin_parte1{
      display: flex;
      flex-direction: row;
      height: 70%;
   }

   #admin_parte2{
      display: flex;
      flex-direction: row;
      height: 30%;
   }

   #admin_estado{
      flex-basis: 70%;
   }

   #admin_bandejaEntrada{
      flex-basis: 55%; 
      flex-shrink: 2;
      overflow: auto;
   }

   #admin_gestionUsuarios{
      flex-basis: 30%;
      flex-shrink: 3;
   }

   #admin_informacionMensajes {
      flex-basis: 60%;
      overflow: auto;
   }

}

@media(max-width: 768px){
   #admin_principal {
      display: flex;
      flex-direction: column;
      height: 100%;
   }

   #admin_parte1{
      display: flex;
      flex-direction: column;
      height: 60%;
   }

   #admin_parte2{
      display: flex;
      flex-direction: column;
      height: 40%;
   }

   #admin_bandejaEntrada {
      height: 25%;
      overflow: auto;
   }

   #admin_informacionMensajes {
      height: 75%;
      overflow: auto;
   }

   #admin_estado {
      height: 85%;
   }

   #admin_gestionUsuarios{
      height: 15%;
   }
}

#admin_estado, #admin_informacionMensajes, #admin_bandejaEntrada, #admin_gestionUsuarios{
   margin : 5 5 5 5;
}

/* ----------Estructura - > correo.html--------- */

#correo_mostrarMensaje > #correo_cabecera {
   overflow: auto;
   height: 20%;
   margin-top: 30px;
   margin-left: 15px;
}

#correo_mostrarMensaje > #correo_cuerpo {
   overflow: auto;
   height: 50%;
   margin-left: 15px;
   margin-right: 15px;
}

@media(min-width: 768px){
   #correo_principal {
      display: flex;
      flex-direction: row;
      height: 75%;
   }

   #correo_correos {
      display: flex;
      flex-direction: column;
      flex-basis: 42%;
   }

   #correo_correos > #correo_tipoCorreo {
      margin: 10 10 10 10;
      height: 30px;
   }

   #correo_tipoCorreo > select, #correo_tipoCorreo > button {
      width: 42%;
      height: 100%;
      margin-left: 10px;
   }

   #correo_correos > #correo_detallesCorreo {
      margin: 0 10 10 10;
      height: 100%;
      overflow: auto;
   }

   #correo_mostrarMensaje {
      flex-basis : 100%;
      margin : 10 10 10 10;
   }
}

@media(max-width: 768px){
   
   #correo_principal {
      display: flex;
      flex-direction: column;
      height: 75%;
   }

  #correo_correos {
      display: flex;
      flex-direction: column;
      height: 30%;
   }

   #correo_correos > #correo_tipoCorreo {
      margin: 10 10 10 10;
      height: 30px;
   }

   #correo_tipoCorreo > select, #correo_tipoCorreo > button {
      width: 45%;
      height: 100%;
      margin-left: 10px;
   }

   #correo_correos > #correo_detallesCorreo {
      margin: 0 10 10 10;
      overflow: auto;
   }

   #correo_mostrarMensaje {
      margin : 10 10 10 10;
      height: 70%;
   }
}