/*  -------- PLANTILLA ----------- */

body
{
  width: 100%;
   /*
  Para hacer que sea visible en safari
  display : -webkit-flex;
  */
  
  /* Reseteamos los margenes por defecto del navegador */
  margin: 0px;
}

header
{
  /* Anchura mínima en un bloque normal */
  min-height: 6%;
  
  /* Margen superior para que se vea la pizarra de fondo */
  margin-top: 40px;
   
  /* Esta instrucción indica que el borde debe ocmportarse como si
  fuese un elementro interno del header */
  background-origin: content-box;

  /* Pequeño espacio para que el logo no se junte con el borde */
  padding-left: 1%;
   
  /* Evitamos que se epita por todo el header */
  background-repeat: no-repeat;
  
  /* Redimensionamos la imagen de fondo */
  background-size: contain;
   
  /* Para mantener los botones dentro del header */
  overflow: hidden;
}

button#registrarse, button#login, button#logout, button#volver
{
   float: right;
   
   min-width: 10%;
   min-height: 6%;
}

form.blue_search {
   display: flex;
   flex-direction: row;
   padding: 10px;
   margin: 10px auto;           
}

form.blue_search > #search {
   float: left; 
   width: 100%;  
   height: 35px;
}

form.blue_search > #submit {       
   float: left;
   margin-left: 10px;
   padding: 0;
   width: 30%;
}

footer
{
  display: flex;
  margin-bottom: 40px;
  min-height: 10%;
}

#miembros, #contacto, #inicio
{
   margin-top: 10px;
   min-width: 20%;
   min-height: 5%;
}

#miembros_lnk:hover, #contacto_lnk:hover, #inicio_lnk:hover
{
   text-decoration: underline; 
}

#miembros > h1, #contacto > h1, #miembros > p, #contacto > p, #inicio > h1, #inicio > p
{
   margin-left: 5%;
}

/* ----------Estructura - > index.html--------- */

#index_principal{
   display: flex;
   flex-direction: column;
   height: 75%;
}

#index_logoPrincipal {
   margin: auto;
   width: 75%;
   min-height: 35%;
}

#index_loginForm {
   position: absolute;
   left:0;
   top:0;
   right: 0;
   bottom: 0;
   top: 10%;
   width: 100%;
   height: 15%;
}

#index_loginForm2 {
   display: none;
   position: float;
   float: right;
   color: white;
}

#index_loginForm2 > form {
   display: flex;
   flex-direction: row;
}

#index_botonesInfo {
   position: relative;
   width: 65%;
   height: 10%;
   margin: 0 auto;
   margin-bottom: 130px;
}

#index_toAlumnos, #index_toProfes{
   width: 100%;
   min-height: 50px;
   margin : 5px;
}

#index_etiquetas {
   text-align: right;
   margin-top: 25px;
   margin-right: 10px;
   line-height: 20px;
   order:1;
}

#index_entradas {
   text-align: left;
   margin-top: 25px;
   margin-right: 15px;
   order:2;
}

#index_sub{
   margin-right: 5px;
   margin-top: 35px;
   order:3;
}

@media (min-width: 768px) {
   #index_botonesInfo2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
   }
}

@media (max-width: 768px) {
   #index_botonesInfo2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
}

/* ----------Estructura - > administrador.html--------- */

#admin_informacionMensajes > pre {
   margin : auto;
}

#admin_informacionMensajes > form {
   display: flex;
   flex-direction: column;
}

@media(min-width: 768px){
   #admin_principal {
      display: flex;
      flex-direction: column;
   }

   #admin_parte1{
      display: flex;
      flex-direction: row;
      height: 60%;
      min-height: 150px;
   }

   #admin_parte2{
      display: flex;
      flex-direction: row;
      height: 25%;
      min-height: 100px;
   }

   #admin_estado{
      flex-basis: 70%;
      overflow: auto;
   }

   #admin_bandejaEntrada{
      flex-basis: 55%; 
      flex-shrink: 2;
      overflow: auto;
   }

   #admin_gestionUsuarios{
      flex-basis: 30%;
      flex-shrink: 3;
   }

   #admin_informacionMensajes {
      flex-basis: 60%;
      overflow: auto;
   }

}

@media(max-width: 768px){
   #admin_principal {
      overflow: hidden;
      display: flex;
      flex-direction: column;
   }

   #admin_parte1{
      display: flex;
      flex-direction: column;
   }

   #admin_parte2{
      display: flex;
      flex-direction: column;
   }

   #admin_bandejaEntrada {
      overflow: auto;
      height: 110px;
   }

   #admin_informacionMensajes {
      overflow: auto;
   }

   #admin_gestionUsuarios{
      min-height: 45px;
   }
}

#admin_estado, #admin_informacionMensajes, #admin_bandejaEntrada, #admin_gestionUsuarios,
#admin_mostrarUsuario {
   margin : 5 5 5 5;
}

/* Admin - Gestion de Usuarios */

@media (min-width: 768px) {
   #admin_mostrarUsuario {
      display: flex;
      flex-direction: row;
   }

   #admin_imagen {
      margin-top : 20px;
      margin-left: 30px;
      width: 18%;
      min-width: 200px;
      min-height: 200px;
   }
}

@media (max-width: 768px) {
   #admin_mostrarUsuario {
      display: flex;
      flex-direction: column;
   }

    #admin_imagen {
      margin: 20px auto;
      width: 50%;
      height: 40%;
      min-height: 150px;
   }
}

#admin_datos {
   display: flex;
   flex-direction: row;
   flex-grow: 5;
   margin: 30px;
}

#admin_clave{
   line-height: 25px;
   width: 100%;
}

#admin_valor{
   margin-left: 30px;
   line-height: 25px;
   width: 100%;
}

/* admin_buscador */

#admin_buscador {
   display: flex;
   flex-direction: row;
   padding: 10px;
   margin: 10px auto;           
}

#admin_buscador > #search {
   float: left; 
   width: 100%;  
   height: 35px;
}

#admin_buscador > #submit {       
   float: left;
   margin-left: 10px;
   padding: 0;
   width: 30%;
}

/* ----------Estructura - > correo.html--------- */

#correo_mostrarMensaje > #correo_cabecera {
   margin-top: 30px;
   margin-left: 15px;
}

#correo_mostrarMensaje > #correo_cuerpo {
   overflow: auto;
   height: 35%;
   margin-top: 30px;
   margin-left: 15px;
   margin-right: 15px;
}

@media(min-width: 768px){
   #correo_principal {
      display: flex;
      flex-direction: row;
      height: 75%;
   }

   #correo_correos {
      display: flex;
      flex-direction: column;
      flex-basis: 42%;
   }

   #correo_correos > #correo_tipoCorreo {
      display: flex;
      flex-direction: row;
      margin: 10 10 10 10;
      height: 40px;
   }

   #correo_tipoCorreo > select, #correo_tipoCorreo > button {
      width: 100%;
   }

   #correo_correos > #correo_detallesCorreo {
      margin: 0 10 10 10;
      height: 100%;
      overflow: auto;
   }

   #correo_mostrarMensaje {
      flex-basis : 100%;
      margin : 10 10 10 10;
   }
}

@media(max-width: 768px){
   
   #correo_principal {
      display: flex;
      flex-direction: column;
      overflow: hidden;
   }

  #correo_correos {
      display: flex;
      flex-direction: column;
   }

   #correo_correos > #correo_tipoCorreo {
      display: flex;
      flex-direction: row;
      margin: 10px;
      min-height: 40px;
   }

   #correo_tipoCorreo > select, #correo_tipoCorreo > button {
      width: 100%;
   }

   #correo_correos > #correo_detallesCorreo {
      margin: 0px 10px 10px 10px;
      overflow: auto;
      min-height: 75px;
   }

   #correo_mostrarMensaje {
      margin : 10px;
   }
}

/* Correo - Nuevo Mensaje */

#correo_formulario {
   display: flex;
   flex-direction: column;
}

#correo_formulario > #correo_dir {
   display: flex;
   flex-direction: row;
   height: 30%;
}

#correo_formulario > #correo_men {
   display: flex;
   flex-direction: column;
   height: 50%;
}

#correo_etiquetas {
   margin-top: 50px;
   line-height: 20px;
   text-align: right;
   width: 100%;
}

#correo_entradas {
   margin-top: 50px;
   text-align: left;
   margin-left: 30px;
   width: 100%;
}

#correo_text {
   text-align: center;
   margin: 0 auto;
   margin-top: 20px;
   width: 80%;
}

#correo_text > textarea {
   width: 100%;
   height: 40%;
}

#correo_sub {
   width: 35%;
   height: 40px;
   margin: 0 auto;
   margin-top: 20px;
}

#correo_sub > input{
   width: 100%;
   height: 100%;
}

/* ----------Estructura - > Contrata.html ----- */

#contrata_cabecera {
  min-height: 80px;
  margin: 10px;
}

@media(min-width: 768px){

  .desp {
    height: 30%;
    min-height: 200px;
    overflow: auto;
    margin-top : 20px;
  }

  .flecha_contrata {
    width: 50%;
  }

  #contrata_pasosWizard {
    display: flex;
    flex-direction: row;
    margin: 10px;
  }

  #contrata_pasosWizard > #materia_Wizard,
  #contrata_pasosWizard > #zona_horario_Wizard,
  #contrata_pasosWizard > #profesor_Wizard,
  #contrata_pasosWizard > #pago_Wizard {
    display: flex;
    flex-direction: row;
    min-width: 25%;
  }

  #datos {
    display: flex;
    flex-direction: row;
  }

  #contrata_muestraDatos {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  /*Materias*/
  #materias1, #materias2, #materias3, #materias4 {
    margin : 50px auto;
    min-width: 20%;
  }

  /*Fecha y zona */
  #datos2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    min-height: 200px;
  }

  #entradas  {
    width: 100%;
    text-align: left;
    margin: auto;
    margin-left: 20px;
  }

  #etiquetas {
    width: 100%;
    text-align: right;
    margin: auto;
    line-height: 20px;
  }

  /* Profesor */
  #profesores {
    margin: 50px auto;
    min-width: 20%;
    min-height: 200px;
  }

  #profesores_info {
    margin: auto;
    width: 20%;
  }

  /* Resumen */

  #datos3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    min-height: 300px;

  }

  #resumen_salida  {
    width: 100%;
    text-align: left;
    margin: 100px auto;
    margin-left: 20px;
    line-height: 30px;
  }

  #resumen_datos {
    width: 100%;
    text-align: right;
    margin: 100px auto;
    line-height: 30px;
  }

}

@media(max-width: 768px){

  .desp {
    height: 30%; 
    min-height: 200px;
    margin-top : 30px;
    overflow: auto;
  }

  .flecha_contrata {
    width: 20%;
  }

  #contrata_pasosWizard {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  #contrata_pasosWizard > #materia_Wizard,
  #contrata_pasosWizard > #zona_horario_Wizard,
  #contrata_pasosWizard > #profesor_Wizard,
  #contrata_pasosWizard > #pago_Wizard {
    display: flex;
    flex-direction: row;
    min-height: 75px;
  }

  #datos {
    display: flex;
    flex-direction: column;
  }

  #contrata_muestraDatos {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  /*Materias*/
  #materias1, #materias2, #materias3, #materias4 {
    margin : 50px auto;
    min-width: 55%;
  }

  /*Fecha y zona */
  #datos2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    min-height: 200px;
  }

  #entradas  {
    width: 100%;
    text-align: left;
    margin: auto;
    margin-left: 20px;
  }

  #etiquetas {
    width: 100%;
    text-align: right;
    margin: auto;
    line-height: 20px;
  }

  /* Profesor */
  #profesores {
    margin: 30px auto 10px;
    min-height: 200px;
  }

  #profesores_info {
    margin: auto;
    text-align: center;
  }

  /*Resumen*/

  #datos3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    min-height: 300px;

  }

  #resumen_salida  {
    width: 100%;
    text-align: left;
    margin: 100px auto;
    margin-left: 20px;
    line-height: 30px;
  }

  #resumen_datos {
    width: 100%;
    text-align: right;
    margin: 100px auto;
    line-height: 30px;
  }

}

/* ----------Estructura - > Formularios--------- */

body.form_body {
  display: flex;
  flex-direction: column;
}

div.form_principal {  
  margin: auto;
}

@media (min-width: 768px) {
  div.form_editar {  
    display: flex;
    flex-direction: row;
    padding-bottom: 1.5%;
  }

  div#editar_left {
    flex-basis: 20%;
    order: 1;
    margin: auto;
  }

  div.form_image {
   margin: auto;
  }

  div.form_notes {
    text-align: center;
    margin: auto;
  }

  div#editar_right {
    flex-basis: 80%;
    order: 2;
    margin: auto;
  }

  form.form_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  div.form_etiquetas {
    flex-basis: 46.25%;
    flex-grow: 3;
    order: 1;
  }

  div.form_entradas {
    flex-basis: 46.25%;
    flex-shrink: 12;
    order: 2;
  }

  div.form_botonera {
    flex-basis: 100%;
    order: 3;
  }
}

@media (max-width: 768px) {
  body.form_body {
  	min-width:400px;
  }

  div.form_editar {  
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
  }

  div#editar_left {
    flex-basis: 20%;
    order: 1;
    margin: auto;
  }

  div.form_avatar {
    display:flex;
    flex-direction:row;
  }

  div.form_image {
    flex-basis: 20%;
    order: 1;
    margin-right: 5%;
  }

  div.form_notes {
    flex-basis: 80%;
    order: 2;
    text-align: center;
    margin-left: 5%;
  }

  div#editar_right {
    flex-basis: 80%;
    order: 2;
    margin: auto;
  }

  form.form_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  div.form_etiquetas {
    flex-basis: 20%;
    flex-grow: 3;
    order: 1;
  }

  div.form_entradas {
    flex-basis: 60%;
    flex-shrink: 12;
    order: 2;
  }

  div.form_botonera {
    flex-basis: 100%;
    order: 3;
  }
}

/* ----------Estructura - > detalles_alumnos.html y detalles_profesores.html--------- */

body.dalumnos_body, body.dprofesores_body  {
  display: flex;
  flex-direction: column;
}

div.d_principal {
  margin: auto 8%;
}

@media (min-width: 768px)
{
   body.dalumnos_body, body.dprofesores_body
  {

    /* La imagen se centra en la pantalla */
    background-attachment: fixed;
    
    /* Colocamos la imagen de fondo */
     background-size: 50% 100%;
     background-position: right;
     background-repeat: no-repeat;

  }

  div.d_principal
    {
      width: 45%;
    }
}

@media (max-width: 768px)
{
   div.d_principal
      {
      width: 90%;
   }
}

/* ----------Estructura - > index_alumnos.html--------- */

body.ialumnos_body
{
  display: flex;
  flex-direction: column;
}

div.ialumnos_principal
{
   margin: auto 0;
}

#menu_alumno, #spam
{
   min-width: 90%;
   overflow: hidden;
   margin: 20px;
}

#spam
{
   margin-bottom: 0px;
}

#spam_principal
{
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}

@media (min-width: 768px)
{
   #menu_alumno_principal
     {
      float: left;
      width: 30%;
      display: flex;
      flex-direction: column;
   }
   
   #bloque_1, #bloque_2, #bloque_3
     {
      float: left;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      width: 22%;
   }
   
   #nombre_alumno
     {
      margin: 10px 30px;
      padding: 10px;
   }
   
   #acciones_rapidas
     {
      margin-top: auto;
      padding: 0px;
      padding-left: 30px;
      padding-bottom: 10px;
   }

   #acciones_rapidas > h1
     {
      padding: 10px;
      padding-right: 0px;
      margin-right: 10px;
   }

   #mis_profesores, #correo_alumno
     {
      margin: 20px 0;
      padding: 10px;
      padding-right: 20px;
   }

   #mis_cursos, #top_10_profesores
     {
      margin: 20px 0;
      padding: 10px;
      padding-right: 20px;
   }

   #acciones_no_tan_rapidas
     {
      margin: 20px 0;
   }
   
   #ajustes_perfil, #video_tutorial
     {
      padding: 3px 10px;
   }
   
   #mis_clases
     {
      margin: 20px 0;
      padding: 10px;
      padding-right: 20px;
   }
   
   #spam_secundario_derecha, #spam_secundario_centro, #spam_secundario_izquierda
     {
      margin: 1%;
      margin-top: 0px;
      margin-bottom: 0px;
      overflow: hidden;
      margin: 10px;
      display: flex;
      flex-direction: column;
      width: 100%;
   }

   #spam_secundario_derecha_titulo, #spam_secundario_centro_titulo, #spam_secundario_izquierda_titulo
     {
      margin: 2%;
      margin-bottom: 0;
   }
   
   #spam_secundario_derecha_apoderado, #spam_secundario_centro_apoderado, #spam_secundario_izquierda_apoderado
     {
      margin: 2%;
   }
   
   #spam_secundario_derecha
     {
      margin-right: 0px;
   }
   
   #spam_secundario_izquierda
     {
      margin-left: 0px;
   }
   
   #spam_secundario
     {
      margin-top: 20px;
      display: flex;
   }
   
   #spam
     {
      height: 42%;
      overflow: scroll;
      overflow-x: hidden;
      overflow-y: auto;
   }
}

@media (max-width: 768px)
{
   #spam_secundario
     {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
   }
   
   #nombre_alumno
     {
      margin: 0 10px;
      padding: 10px 0;
   }
   
   #acciones_rapidas, #bloque_1, #bloque_2, #bloque_3
     {
      margin: 10px auto;
      width: 90%;
   }
   
   #spam_secundario_derecha, #spam_secundario_centro, #spam_secundario_izquierda
     {
      margin: 0px;
      visibility: hidden;
      height: 0px;
      width: 0px;
   }
}

#mis_clases_1_nombre , #mis_clases_2_nombre, #mis_clases_3_nombre
{
   float: left;
}

#mis_clases_1_horario , #mis_clases_2_horario, #mis_clases_3_horario
{
   float: right;
}

#mis_clases_1_nombre, #mis_clases_2_nombre, #mis_clases_3_nombre
{
   width: 70%;
}

#mis_clases_1_horario, #mis_clases_2_horario, #mis_clases_3_horario
{
   text-align: right;
   width: 30%;
}

#spam_principal_por
{
   display: flex;
}

#spam_principal_titulo
{
   display: flex;
}

#spam_principal_intro
{
   margin: 2%;
   margin-right: 10px;
   margin-bottom: 0;
}

#spam_principal_autor
{
   width: 30%;
   margin: 2%;
   margin-left: 10px;
   margin-bottom: 0;
}

#spam_principal_curso
{
   width: 60%;
   margin: 2%;
}

#spam_principal_horario
{
   width: 31%;
   margin: 2%;
   margin-left: auto;
}

#spam_principal_ver_mas, #spam_secundario_derecha_ver_mas,
#spam_secundario_centro_ver_mas, #spam_secundario_izquierda_ver_mas
{
   margin-left: auto;
   margin-top: auto;
   padding : 10px;
}

/* ----------Estructura - > dashboard_profesores.html--------- */

body.dashprofes_body {
  display: flex;
  flex-direction: column;
}

div.dashprofes_principal {
  margin: auto;
}

@media (min-width: 768px){

  div.dashprofes_principal {
    display: flex;
    /*Los elementos dentro del contenedor se van a alinear en columnas, 3 columnas por fila */
    flex-direction: row;
    /*Contenedor flexible con multiples filas (wrap), cada fila con tres div */
    flex-wrap: wrap; 
  }

}

@media (max-width: 768px){

  div.dashprofes_principal {
    /*Los elementos dentro del contenedor se van a alinear en columnas, 3 columnas por fila */
    flex-direction: row;
    /*Contenedor flexible con multiples filas (wrap), cada fila con tres div */
    flex-wrap: wrap; 
  }

}

div.dashboard {
  flex-direction: column;
  height: 18%;
}

/* ----------Estructura - > miembros.html--------- */

body.miembros_body
{
  display: flex;
  flex-direction: column;
}

div.miembros_principal {

  margin: auto;

}

@media (min-width: 768px)
{
   #contenido_miembros
      {
      width: 100%;
      flex-direction: column;
      flex-wrap: wrap; 
    
   }

   #pablo, #fran, #manu, #pino, #sergio
  {
  float: left;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  width: 45%;
  margin: 2%;
  margin-bottom: 20px;
  margin-top: 20px;
  }
}

@media (max-width: 768px)
{
  body.miembros_body
  {
      min-width: 360px;
  }
   
  #contenido_miembros
  {
      font-size: 1.2em;
      margin: auto 8%;
      overflow: hidden;
      margin: 10px;
      display: flex;
      flex-direction: column;
      width: 100%;
   }

   #pablo, #fran, #manu, #pino, #sergio
  {
  float: left;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  margin: 2%;
  margin-bottom: 20px;
  margin-top: 20px;
  }
}

#contenido_miembros > p
{
   margin: 20px 0;
   margin-top: 20px;
   display: flex;
   width: 40%;
   flex-direction: row;
}

#miembro_foto
{
   float: left;
   display: flex;
   flex-direction: row;
}

#miembro_texto
{
   float: left;
   margin-left: 1%;
   display: flex;
   flex-direction: column;
}



/* ----------Estructura - > administrador.html--------- */

#stats_datos{
   margin-top: 10px;
   margin-left: 15px;
   min-height: 20%;
   color: white;
   flex-direction: column;
   float: top;
}

#valoracion_global{
   overflow: auto;
   min-height: 40%;
   width: 80%;
   margin-top: 25px;
   margin-left: 15%;
   margin-right: 15%;
   color: white;
   flex-direction: column;
   float: center;
}

#stats_cuadro > #valoracion_reciente{
   margin-top: 30px;
   margin-left: 15px;
   color: white;
   flex-direction: column;
   float: bottom;
   overflow: auto;
   height: 20%;
}

#stats_info {
   float: left;
   margin-left: 10px;
   display: flex;
   flex-direction: row;
}

#stats_pic {
   float: left;
   margin-left: 30%;
   display: flex;
   flex-direction: row;
}



@media(min-width: 768px){
   #stats_main {
      display: flex;
      flex-direction: row;
      height: 75%;
   }

   #stats_sts {
      display: flex;
      flex-direction: column;
      flex-basis: 25%;
   }

   #stats_sts > #stats_opts {
      display: flex;
      flex-direction: row;
      margin: 10 10 10 10;
      height: 40px;
   }

   #stats_opts > select {
      width: 100%;
   }

   #stats_sts > #stats_perfiles {
      margin: 0 10 10 10;
      height: 100%;
      overflow: auto;
   }

   #stats_cuadro {
      flex-basis : 100%;
      margin : 10 10 10 10;
      overflow: auto;
   }
}

@media(max-width: 768px){
   
   #estadisticas_principal {
      display: flex;
      flex-direction: column;
      overflow: hidden;
   }

  #stats_sts {
      display: flex;
      flex-direction: column;
   }

   #stats_sts > #stats_opts {
      display: flex;
      flex-direction: row;
      margin: 10px;
      min-height: 40px;
   }

   #stats_opts > select {
      width: 100%;
   }

   #stats_sts > #stats_perfiles {
      margin: 0px 10px 10px 10px;
      overflow: auto;
      min-height: 75px;
   }

   #stats_cuadro {
      margin: 10px;
      margin : 10 10 10 10;
      overflow: auto;
   }
}

/* vista_lista */
.vista_lista_elemento
{
   display: flex;
   padding: 10px;
}

.vista_lista_imagen_elemento
{
   min-width: 30px;
   min-height: 30px;
   margin-right: 10px;
}

body
{
   display: flex;
   flex-direction: column;
}

#vista_lista_principal
{
   margin: auto 10px;
}

#vista_lista_presentacion
{
   margin: 20px;
}

#vista_lista_detalle
{
   display: flex;
   margin-bottom: 20px;
}

@media (min-width: 768px)
{
   #vista_lista_vista
     {
      width: 100%;
      padding: 0px 20px;
   }
   
   #vista_lista_detalle
     {
      height: 50%;
   }
   
   #vista_lista_contenido
     {
      flex-basis: 40%;
   }
   
   .vista_lista_imagen
     {
      flex-basis: 50%;
      flex-shrink: 2;
      margin-top: 20px;
   }
   
   #vista_lista_container_lista
     {
      width: 70%;
   }
}

@media (max-width: 768px)
{
   #vista_lista_detalle
     {
      height: 60%;
      flex-direction: column;
   }
   
   #vista_lista_titulo
     {
      margin: 20px;
   }
   
   #vista_lista_lista
     {
      min-height: 100px;
      flex-basis: 50%;
   }
   
   #vista_lista_vista
     {
      flex-basis: 50%;
   }
}

#vista_lista_lista
{
   overflow: scroll;
   overflow-x: auto;
}

#vista_lista_vista
{
   display: flex;
   flex-direction: column;
}

#vista_lista_titulo
{
   margin: 20px 0px;
}

#vista_lista_contenido
{
   overflow: auto;
}

#vista_lista_container_lista
{
   display: flex;
   flex-direction: column;
}

#vista_lista_buscador
{
   display: flex;
   min-height: 30px;
}

/* ----------Estructura - > ranking.html--------- */

#ranking_titulo {
  margin: 20px;
  text-align: center;
}

#rank{ 
   display: flex;
   flex-direction: column;
   list-style:none; 
   margin:30px auto; 
}

#busca_rank{
   display: flex;
   flex-direction: row;
   background-color: #4F81BD;
}

#rank li #bloque1{
   margin: auto;
}

#rank li #bloque2{
   text-align-last: start;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   text-align: right;
   margin: auto;
}


@media (min-width: 768px){ /*Tamaño escritorio*/
   #rank li{ 
      display:flex; 
      margin: auto;
      margin-bottom: 20px;
   }

   #profe{
      width: 40%;
   }
}

@media (max-width: 768px){ /*Tamaño Movil*/

   #rank li{ 
      display:block; 
      margin: auto;
      margin-bottom: 20px;
   }

   #profe{
      text-align: center;
   }

}

#bloque1 img{
   width: 140px; 
   height: 140px;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}



@media (min-width: 768px){ /*Tamaño escritorio*/
  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }

}

@media (max-width: 768px){ /*Tamaño Movil*/
  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }

  h1, h2{
    text-align: center;
  }

}
