/*  -------- PLANTILLA ----------- */

*
{
   /* Fuente predeterminada de la web */
   font-family: 'Ubuntu', sans-serif;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none; 
   
   /* El cursor en todo momento es la flecha */
   cursor: default;
}

header 
{
   background-color : #376092;
   background-image: url(../img/profesconclase_azul.png);
   box-shadow: #576881 3px 3px 3px;
}

header.green
{
  background-color : #118E56;
  background-image: url(../img/profesconclase_verde.png);
}

header.blue
{
  background-color : #376092;
  background-image: url(../img/profesconclase_azul.png);
}

header.purple
{
  background-color : #6A1B9A;
  background-image: url(../img/profesconclase_azul.png);
}

button.green, select.green, input.green, option.green
{
   /* Color de acción */
   background-color: #6AC46E;
   
   /* Color del borde */
   border-color: #4E8C50;
   
   /* Color de la fuente */
   color: white;
   
   /* Tamaño de la fuente */
   font-size: larger;

}

button.blue, select.blue, input.blue, option.blue
{
   /* Color de acción */
   background-color: #4F81BD;
   
   /* Color del borde */
   border-color: #376092;
   
   /* Color de la fuente */
   color: white;
   
   /* Tamaño de la fuente */
   font-size: larger;

}

button.purple, select.purple, input.purple, option.purple
{
   /* Color de acción */
   background-color: #BA68C8;
   
   /* Color del borde */
   border-color: #6A1B9A;
   
   /* Color de la fuente */
   color: white;
   
   /* Tamaño de la fuente */
   font-size: larger;

}

text.blue {
   color: #4F81BD;
}

text.purple {
   color: #BA68C8;
}

text.green {
   color: #6AC46E;
}

form.blue_search {
   background-color: #223A57;  
   box-shadow: 5px 5px 5px #4F81BD;          
}

form.blue_search > #search {
   border: 1px solid #4F81BD;
   font: normal 13px;
   font-family: 'Ubuntu', sans-serif;
   background: #f1f1f1;        
}

form.blue_search > #submit {       
    background-color: #4F81BD;
    border-width: 1px;
    border-style: solid;
    border-color: #4F81BD;
    cursor: pointer;
    font: bold 14px;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

form.blue_search > #submit:hover {       
    background-color: #223A57;   
}

footer 
{
  background-color : #376092;
  margin: 0px 20px 10px 20px;
}

footer.green
{
  background-color : #118E56;
}

footer.blue
{
  background-color : #376092;
}

footer.purple
{
  background-color : #6A1B9A;
}

#miembros > h1, #contacto > h1, #inicio > h1
{
   font-weight: normal;
   
   color: white;
   font-size: 1.5em;
}

#miembros > p, #contacto > p, #inicio > p
{
   color: white;
   font-size: 1em;
   margin-top: 10px;
   margin-bottom: 10px;
}

@media (min-width: 768px) {

  h1.my_h1 {
      text-align: center;
      font-size: 1.5em;
      padding-top: 1.5%;
      padding-bottom: 1.5%;
  }

}

@media (max-width: 768px) {

  h1.my_h1 {
    text-align: center;
    font-size: 1.5em;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 2.5%;
  }

}

textarea.purple {
	background-color: #6A1B9A;
	overflow: auto;
  letter-spacing: 2px;
  line-height: 1.3;
  color : white;
  box-shadow: 5px 5px 5px #6A1B9A;
}

textarea.blue {
	background-color: #376092;
	overflow: auto;
  letter-spacing: 2px;
  line-height: 1.3;
  color : white;
  box-shadow: 5px 5px 5px #376092;
}

textarea.green {
  background-color: #118E56;
  overflow: auto;
  letter-spacing: 2px;
  line-height: 1.3;
  color : white;
  box-shadow: 5px 5px 5px #4E8C50;
}

/*  --------Interfaz - > Index.html ----------- */

#index_body
{
   /* Color por defecto */
   background-color: white;
   background-image: url("../img/pizarra.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

/* Logo que sale en la pantalla principal */
#index_logoPrincipal {
   background-image: url("../img/profesconclase_azul.png");
   background-repeat: no-repeat;
   background-size: 100%;
}

#index_sub>input {
   background-color: #4F81BD;
   border-color: #223A57;
   color: white;
   font-size: larger;
}

/*  --------Interfaz - > administrador.html ----------- */

#admin_body
{
   background-color: white;
}

#admin_form > input {
   background-color: #6A1B9A;
   border-color: #AB47BC;
   color: white;
   font-size: larger;
}

#admin_estado, #admin_informacionMensajes, #admin_bandejaEntrada, #admin_gestionUsuarios,
#admin_mostrarUsuario {
   background-color: #AB47BC;
   box-shadow: 5px 5px 5px #6A1B9A;
}

#admin_imagen {
   background-image: url("../img/gato.jpg");
   background-size: contain;
   background-repeat: no-repeat;
}

#admin_informacionMensajes > pre {
 
   color: white;
   font-size: 1.2em;
   margin-left: 60px;
}

#admin_informacionMensajes > p {
 
   color: white;
   font-size: 1em;
   margin-left: 60px;
}

#admin_informacionMensajes > h1 {
 
   color: white;
   font-size: 1.4em;
   text-align: center;
   margin-top: 15px;
   margin-bottom: 15px;
}

#admin_estado > p {
   color: white;
   font-size: 1em;
   margin-top: 10px;
   margin-bottom: 10px;
}

#admin_bandejaEntrada > p {
   text-align: center;
   color: white;
   font-size: 1em;
}

#admin_bandejaEntrada > p:hover {
  background-color: #CE93D8;
}

.admin_linea {
   height: 0px;
   border-color: #6A1B9A;
}

.admin_noleido {
  border-right: #CE93D8 solid 6px;
}

#admin_gestionUsuarios > h1, #admin_bandejaEntrada > h1, #admin_estado > h1 {
   margin-left: 5%;
   color: white;
   font-weight: normal;
   font-size: 1.5em;
   margin-top: 5px;
}

#admin_clave {
   text-align: right;
   color: white;
   font-size: 1.2em;
}

#admin_valor {
   text-align: left;
   color: white;
   font-size: 1em;
}

/* Buscador - Administrador */

#admin_buscador {
   background-color: #6A1B9A;  
   box-shadow: 5px 5px 5px #AB47BC;          
}

#admin_buscador > #search {
   border: 1px solid #223A57;
   font: normal 13px;
   font-family: 'Ubuntu', sans-serif;
   background: #f1f1f1;        
}

#admin_buscador > #submit {       
    background-color: #AB47BC;
    border-width: 1px;
    border-style: solid;
    border-color: #223A57;
    cursor: pointer;
    font: bold 14px;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#admin_buscador > #submit:hover {       
    background-color: #223A57;   
}

/*  --------Interfaz - > correo.html ----------- */

#correo_body {
   /* Color por defecto */
   background-color: white;
   background-image: url("../img/pizarra.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

#correo_detallesCorreo_azul > p, #correo_detallesCorreo_verde > p,
#correo_etiquetas > label {
   color: white;
   font-size: 1em;
   margin-top: 10px;
   margin-bottom: 10px;
}

#correo_sub_azul > input {
   background-color: #376092;
   border-color: #4F81BD;
   color: white;
   font-size: larger;
}

#correo_sub_verde > input {
   background-color: #6AC46E;
   border-color: #118E56;
   color: white;
   font-size: larger;
}

#correo_detallesCorreo_azul > p, #correo_detallesCorreo_verde {
   text-align: center;
}

#correo_correos > #correo_detallesCorreo_azul, #correo_mostrarMensaje_azul {
   box-shadow: 5px 5px 5px #376092;
   background-color: #4F81BD;
}

#correo_correos > #correo_detallesCorreo_verde, #correo_mostrarMensaje_verde {
   box-shadow: 5px 5px 5px #118E56;
   background-color: #6AC46E;
}

.correo_linea_azul {
   margin: 0;
   border-color: #376092;
}

.correo_linea_verde {
   margin: 0;
   border-color: #118E56;
}

.noleido{
   border-right: #118E56 solid 6px;
}

/* ---------Interfaz - > Contrata.html --------- */

#contrata_cabecera {
  background-color: #6AC46E;
  box-shadow: 5px 5px 5px #118E56;
}

#contrata_cabecera > h1 {
  font-size: 2em;
  font-weight: normal;
}

#materia_Wizard > p, #zona_horario_Wizard > p,
#profesor_Wizard > p, #pago_Wizard > p, #profesores_info > p {

  font-size: 1.5em;
  margin: 10px;

}

#numeroFase {
  position: absolute;
  visibility: hidden;
}

/*Primer paso */
#contrata_pasosWizard > #materia_Wizard {
  background-color: #118E56;
}

/* Segundo paso */
#contrata_pasosWizard > #zona_horario_Wizard {
  background-color: #6AC46E;
}

/* Tercer paso */
#contrata_pasosWizard > #profesor_Wizard {
  background-color: #6AC46E;
}

/* Cuarto paso */
#contrata_pasosWizard > #pago_Wizard {
  background-color: #6AC46E;
}

#entradas > select, #entradas > input,
#entradas > select > option {
  color: black;
}

.desp {
    background-color: #118E56;
}

.desp > p{
    text-align: center;
    font-size: 1.2em;
    line-height: 25px;
    margin: 5px;
}

.flecha_contrata {
  background-image: url("../img/flecha_contrata.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#contrata_pasosWizard {
  background-color: #6AC46E;
  box-shadow: 5px 5px 5px #118E56;
}

#contrata_muestraDatos {
  background-color: #6AC46E;
  box-shadow: 5px 5px 5px #118E56;
}

/*  --------Interfaz - > Formularios ----------- */

body.form_body {
	background-image: url("../img/pizarra.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

div.form_principal {
    color: white;
}

label.form_checker {
   font-size:20px;
}

@media (min-width: 768px) {
  div.form_contenido {
    text-align: center;
    line-height: 150%;
    padding-bottom: 1.5%;
  }

  div.form_editar {  
    padding-bottom: 1.5%;
  }

  div.form_notes {
    text-align: center;
  }

  div.form_etiquetas {
    text-align: right;
    line-height: 250%;
    margin-left: 2.5%;
    margin-right: 1.25%;
  }

  div.form_entradas {
    text-align: left;
    line-height: 250%;
    margin-left: 1.25%;
    margin-right: 2.5%;
  }
}

@media (max-width: 768px) {
  div.form_contenido {
    text-align: center;
    line-height: 150%;
    padding-bottom: 3%;
  }

  div.form_editar {  
    padding-bottom: 3%;
  }

  div.form_image {
    margin-right: 5%;
  }

  div.form_notes {
    text-align: center;
    margin-left: 5%;
  }

  label.form_label {
    white-space: nowrap;
  }

  text#form_text {
    position: absolute;
  }

  div.form_etiquetas {
    text-align: right;
    line-height: 250%;
    margin-left: 2.5%;
    margin-right: 1.25%;
  }

  div.form_entradas {
    text-align: left;
    line-height: 250%;
    margin-left: 1.25%;
    margin-right: 2.5%;
  }

  div.form_botonera {
    text-align: center;
    line-height: 150%;
  }
}

/* ----------Interfaz - > detalles_alumnos.html y detalles_profesores.html--------- */

@media (min-width: 768px){ /*Tamaño escritorio*/

   body.dalumnos_body
  {
      /* Seleccionamos la imagen de fondo */
      background-image: url(../img/alumnos.jpg);
   }

   body.dprofesores_body
  {
      /* Seleccionamos la imagen de fondo */
      background-image: url(../img/profesor.png);
   }
   
   div.d_principal
    {
      font-size: 1.2em;
      line-height: 1.2; /*Espaciado entre las frases*/
   }
}

@media (max-width: 768px){ /*Tamaño movil*/

   body.dalumnos_body, body.dprofesores_body
     {
      background-image: none;
   }
   
   div.d_principal
      {
      font-size: 1.1em;
      line-height: 1.2; /*Espaciado entre las frases*/
   }
}

/* ----------Interfaz - > index_alumnos.html--------- */

body.ialumnos_body
{
   background-color: #A5D6A7;
   /*background-image: url("../img/pizarra.jpg");*/
   background-repeat: no-repeat;
   background-size: cover;
}

#menu_alumno
{
   background-color: #6AC46E;
   color: white;
   text-shadow: 1px 1px black;
   box-shadow: 5px 5px 5px #72B396;
}

@media (min-width: 768px)
{
   #nombre_alumno
     {
      font-weight: bold;
      font-size: 45px;
      border-bottom: #118E56;
      border-style: solid;
      
      /* Para que la línea no se corte y sigua debajo */
      overflow:hidden;
      white-space: nowrap;
      
      /* Para que salgan puntos suspensivos */
      text-overflow: ellipsis;
   }
   
   #spam_principal_autor, #spam_secundario_derecha_titulo, #spam_secundario_centro_titulo, #spam_secundario_izquierda_titulo
     {
      font-size: 20px;
   }
   
   #spam_principal_curso, #spam_secundario_derecha_apoderado, #spam_secundario_centro_apoderado, #spam_secundario_izquierda_apoderado, #spam_principal_horario
     {
      font-size: 35px;
   }
   
   #spam_principal
     {
      background-image: url("../img/flecha_spam2.png");
      background-repeat: no-repeat;
      background-size: 70px 30px;
      background-position: center bottom;
   }

   #spam_secundario_derecha, #spam_secundario_centro, #spam_secundario_izquierda
     {
      background-image: url("../img/flecha_spam2.png");
      background-repeat: no-repeat;
      background-size: 50px 30px;
      background-position: center bottom;
   }
}
@media (max-width: 768px)
{
   #nombre_alumno
     {
      font-weight: bold;
      font-size: 30px;
      text-align: center;
      
      border: palegreen;
      border-style: solid;
      border-top: inherit;
      border-right: inherit;
      border-left: inherit;
      
      /* Para que la línea no se corte y sigua debajo */
      overflow:hidden;
      white-space: nowrap;
      
      /* Para que salgan puntos suspensivos */
      text-overflow: ellipsis;
   }
   
   #spam_principal_autor, #spam_secundario_derecha_titulo, #spam_secundario_centro_titulo, #spam_secundario_izquierda_titulo,
   #spam_principal_curso, #spam_secundario_derecha_apoderado, #spam_secundario_centro_apoderado, #spam_secundario_izquierda_apoderado, #spam_principal_horario
     {
      font-weight: bold;
   }
}

#mis_cursos > p, #mis_profesores > p
{
   /* Para que la línea no se corte y sigua debajo */
   overflow:hidden;
   white-space: nowrap;
   
   /* Para que salgan puntos suspensivos */
   text-overflow: ellipsis;
}

#mis_clases_1 > p, #mis_clases_2 > p, #mis_clases_3 > p
{
   /* Para que la línea no se corte y sigua debajo */
   overflow:hidden;
   white-space: nowrap;
   
   /* Para que salgan puntos suspensivos */
   text-overflow: ellipsis;
}

#spam_principal, #spam_secundario_derecha, #spam_secundario_centro, #spam_secundario_izquierda
{
   background-color: #6AC46E;
   box-shadow: 5px 5px 5px #72B396;
   color: white;
}

#spam_principal:hover, #spam_secundario_derecha:hover, #spam_secundario_centro:hover, #spam_secundario_izquierda:hover,
#mis_profesores:hover, #mis_notas:hover, #buscar_profesor:hover, #contratar_profesor:hover, #correo_alumno:hover,
#mis_cursos:hover, #top_10_profesores:hover, #mis_clases:hover, #ajustes_perfil:hover, #video_tutorial:hover
{
	background-color: #3EA742;
}

.pulsable
{
   cursor: hand;
}

#spam_principal_autor, #spam_secundario_derecha_titulo, #spam_secundario_centro_titulo, #spam_secundario_izquierda_titulo
{
   /* Para que la línea no se corte y sigua debajo */
   overflow:hidden;
   white-space: nowrap;
   
   /* Para que salgan puntos suspensivos */
   text-overflow: ellipsis;
}

#spam_principal_curso, #spam_secundario_derecha_apoderado, #spam_secundario_centro_apoderado, #spam_secundario_izquierda_apoderado
{
   /* Para que la línea no se corte y sigua debajo */
   overflow:hidden;
   white-space: nowrap;
   
   /* Para que salgan puntos suspensivos */
   text-overflow: ellipsis;
}

#spam_principal_horario
{
   text-align: right;
   
   /* Para que la línea no se corte y sigua debajo */
   overflow:hidden;
   white-space: nowrap;
   
   /* Para que salgan puntos suspensivos */
   text-overflow: ellipsis;
}

/* ----------Interfaz - > dashboard_profesores.html--------- */

body.dashprofes_body {
  background-color: #e6e6e6;
  color: white;
}

div.dashboard{
  border-color: #778EAA;
  background-color: #576881;
}

div.oscuro{
  background-color: #376092;
  border-color: #778EAA;
}

#tusEventos{
  text-align: center;
}

/*-----Lista slider con los proximos eventos-----*/

#slider {
  margin: auto;
  position: relative;
  overflow: hidden;
}

#slideUl {
   /*display: none; /*ocultamos todos los elems de la lista*/
}

#tusEventos{
  width: 100%;
}

/*flechitas para pasar el slider */
.btn-prev, .btn-next {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
}
.btn-prev:hover, .btn-next:hover {
  background: white;
}
.btn-prev {
  left: 10px;
}
.btn-next {
  right: 10px;
}

p.dashprofes_small_p
{
	color: lightgray;
    /* color: #376092; */
}

p.dashprofes_small_p.dashprofes_info
{
	color: white;
}

@media (min-width: 768px){

  div.dashboard {
    padding: 1em;

    box-shadow: 5px 5px 5px #376092;
    text-align: center;

    float: left;
    margin: 10 auto;
    width: 28%; /*Ancho*/
    /*height: 16%; Altura*/
	/*height: 20%;*/
  }

  p.dashprofes_small_p {
    font-size: 18px;
    line-height: 1.5; /*Espaciado entre las frases*/
    text-align: left;
  }

  p.dashprofes_big_p {
    font-size: 30px;
    line-height: 1.4; /*Espaciado entre las frases*/
  }

}

@media (max-width: 768px){
  div.dashboard {
      padding: 0.5em;
     
      box-shadow: 5px 5px 5px #376092;
      margin: 2px;
  }

  p.dashprofes_small_p {
    font-size: 18px;
    line-height: 1; /*Espaciado entre las frases*/
    text-align: left;
  }

  p.dashprofes_big_p {
    font-size: 20px;
    line-height: 1.6; /*Espaciado entre las frases*/
  }
}

/* ----------Interfaz - > buscador.html--------- */

form.form_principal {
    background-color: #4F81BD;  
    border-width: 1px;
    border-color: #223A57;          
    width: 270px;
    height: 35px;
    padding: 10px;
    margin: 10px auto 10px;
    overflow: hidden;
}

/* ----------Interfaz - > miembros.html--------- */

div.miembros_principal 
{
  color: white;
}

body.miembros_body
{
  background-image: url("../img/pizarra.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
  
/*  --------Interfaz - > Index.html ----------- */

#stats_body {
   background-color: white;
   background-image: url("../img/pizarra.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

#stats_perfiles > p, #stats_cuadro > pre{
   color: white;
   font-size: 1em;
   margin-top: 10px;
   margin-bottom: 10px;
}

#stats_perfiles > p{
   text-align: center;
}

#stats_sts > #stats_perfiles, #stats_cuadro {
   box-shadow: 5px 5px 5px #376092;
   background-color: #4F81BD;
}

.perfil_ind {
   margin: 0;
   border-color: #376092;
}

.rating2 {
  unicode-bidi: bidi-override;
}
.rating2 > span {
  display: inline-block;
  position: relative;
}
.rating2 > span:before {
   content: "\2605";
   position: absolute;
}

/* vista_lista */

/* De esta forma se hereda el comportamiento de la clase .vista_lista_imagen_elemento */
.vista_lista_imagen_elemento.vista_lista_imagen_elemento_grupo
{
   background-image: url("../img/grupo.png");
}

/* De esta forma se hereda el comportamiento de la clase .vista_lista_imagen_elemento */
.vista_lista_imagen_elemento.vista_lista_imagen_elemento_alumno
{
   background-image: url("../img/alumno.jpg");
}

/* De esta forma se hereda el comportamiento de la clase .vista_lista_imagen_elemento */
.vista_lista_imagen_elemento.vista_lista_imagen_elemento_profesor
{
   background-image: url("../img/profe.jpg");
}

/* De esta forma se hereda el comportamiento de la clase .vista_lista_imagen_elemento */
.vista_lista_imagen_elemento.vista_lista_imagen_elemento_clase
{
   background-image: url("../img/clase.png");
}

/* De esta forma se hereda el comportamiento de la clase .vista_lista_imagen_elemento */
.vista_lista_imagen_elemento.vista_lista_imagen_elemento_asignatura
{
   background-image: url("../img/asignatura.png");
}

.vista_lista_imagen_elemento
{
   background-repeat: no-repeat;
   background-size: 30px 30px;
}

.vista_lista_borrar_elemento.vista_lista_borrar_elemento_activo
{
   background-image: url("../img/basura.png");
}

.vista_lista_borrar_elemento.vista_lista_borrar_elemento_pasivo
{
   background-image: url("../img/basura_negra.png");
}

.vista_lista_borrar_elemento
{
    background-size: 30px 30px;
    background-repeat: no-repeat;
    min-width: 30px;
    min-height: 30px;
    margin-left: auto;
}

.vista_lista_borrar_elemento:hover
{
   background-image: url("../img/basura.png");
}

.vista_lista_elemento:hover
{
   background-color: white;
}

.vista_lista_elemento.vista_lista_elemento_activo
{
   background-color: white;
}

.vista_lista_elemento_oculto
{
   display: none;
}

.vista_lista_elemento
{
   background-color: lightgray;
   border: 1px;
   border-style: ridge;
}

#vista_lista_presentacion
{
   text-align: center;
   font-weight: bold;
   font-size: 40px;
   margin: 0px;
   padding: 15px;
   border-bottom: 2px black solid;
   margin-bottom: 20px;
}

.vista_lista_titulo_elemento
{
   font-weight: bold;
}

#vista_lista_titulo
{
   font-weight: bold;
   font-size: 30px;
   text-align: center;
}

@media (min-width: 768px)
{
   #vista_lista_vista
     {
      padding: 0px 20px;
   }
}

.vista_lista_imagen
{
   display: none;
   background-color: lightblue;
   background-image: url(../img/profe.jpg);
   background-repeat: no-repeat;
   background-size: contain;
}

#vista_lista_buscador 
{
    padding: 10px;
}

#vista_lista_search
{
    padding: 5px 9px;
    border: 1px solid #223A57;
    background: #f1f1f1;
    cursor: text;
    width: 70%;
}

#vista_lista_submit
{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 0 0 0 10px;
    padding: 0;
    width: 25%;
    cursor: pointer;
    font: bold 14px;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#vista_lista_editar
{
   display: none;
}

/*  --------Interfaz - > ranking.html ----------- */

body.ranking_body_blue {
  background: #e6e6e6;
  /*
  background: -moz-linear-gradient(-45deg, rgba(179,201,214,1) 0%, rgba(116,151,175,1) 46%, rgba(116,151,175,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(179,201,214,1)), color-stop(46%, rgba(116,151,175,1)), color-stop(100%, rgba(116,151,175,1)));
  background: -webkit-linear-gradient(-45deg, rgba(179,201,214,1) 0%, rgba(116,151,175,1) 46%, rgba(116,151,175,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(179,201,214,1) 0%, rgba(116,151,175,1) 46%, rgba(116,151,175,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(179,201,214,1) 0%, rgba(116,151,175,1) 46%, rgba(116,151,175,1) 100%);
  background: linear-gradient(135deg, rgba(179,201,214,1) 0%, rgba(116,151,175,1) 46%, rgba(116,151,175,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3c9d6', endColorstr='#7497af', GradientType=1 );
  */
}

body.ranking_body_green {
  background: rgba(166,223,114,1);
  background: -moz-linear-gradient(-45deg, rgba(166,223,114,1) 0%, rgba(164,209,121,1) 27%, rgba(166,223,114,1) 66%, rgba(164,209,121,1) 85%, rgba(164,209,121,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(166,223,114,1)), color-stop(27%, rgba(164,209,121,1)), color-stop(66%, rgba(166,223,114,1)), color-stop(85%, rgba(164,209,121,1)), color-stop(100%, rgba(164,209,121,1)));
  background: -webkit-linear-gradient(-45deg, rgba(166,223,114,1) 0%, rgba(164,209,121,1) 27%, rgba(166,223,114,1) 66%, rgba(164,209,121,1) 85%, rgba(164,209,121,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(166,223,114,1) 0%, rgba(164,209,121,1) 27%, rgba(166,223,114,1) 66%, rgba(164,209,121,1) 85%, rgba(164,209,121,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(166,223,114,1) 0%, rgba(164,209,121,1) 27%, rgba(166,223,114,1) 66%, rgba(164,209,121,1) 85%, rgba(164,209,121,1) 100%);
  background: linear-gradient(135deg, rgba(166,223,114,1) 0%, rgba(164,209,121,1) 27%, rgba(166,223,114,1) 66%, rgba(164,209,121,1) 85%, rgba(164,209,121,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6df72', endColorstr='#a4d179', GradientType=1 );
}

body.ranking_body_purple {
  background: rgba(223,114,242,1);
  background: -moz-linear-gradient(-45deg, rgba(223,114,242,1) 0%, rgba(223,114,242,1) 9%, rgba(212,85,187,1) 30%, rgba(223,114,242,1) 57%, rgba(224,92,198,1) 78%, rgba(224,92,198,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(223,114,242,1)), color-stop(9%, rgba(223,114,242,1)), color-stop(30%, rgba(212,85,187,1)), color-stop(57%, rgba(223,114,242,1)), color-stop(78%, rgba(224,92,198,1)), color-stop(100%, rgba(224,92,198,1)));
  background: -webkit-linear-gradient(-45deg, rgba(223,114,242,1) 0%, rgba(223,114,242,1) 9%, rgba(212,85,187,1) 30%, rgba(223,114,242,1) 57%, rgba(224,92,198,1) 78%, rgba(224,92,198,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(223,114,242,1) 0%, rgba(223,114,242,1) 9%, rgba(212,85,187,1) 30%, rgba(223,114,242,1) 57%, rgba(224,92,198,1) 78%, rgba(224,92,198,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(223,114,242,1) 0%, rgba(223,114,242,1) 9%, rgba(212,85,187,1) 30%, rgba(223,114,242,1) 57%, rgba(224,92,198,1) 78%, rgba(224,92,198,1) 100%);
  background: linear-gradient(135deg, rgba(223,114,242,1) 0%, rgba(223,114,242,1) 9%, rgba(212,85,187,1) 30%, rgba(223,114,242,1) 57%, rgba(224,92,198,1) 78%, rgba(224,92,198,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df72f2', endColorstr='#e05cc6', GradientType=1 );
}

#ranking_titulo{
   /* background-color: #376092; */
   text-align: center;
   text-shadow: 1px 1px 1px #333;
   font-size: 30px;
   padding: 20px;
}

#ranking_titulo.green{
  background-color: #118E56;
}
#ranking_titulo.blue{
  background-color: #376092;
}
#ranking_titulo.purple{
  background-color: #6A1B9A;
}


#ranking_titulo > h1 {
  font-size: 1.5em;
}

#ranking_titulo > h2 {
  font-size: 1em;
}

/*------------Buscador Ranking------------*/

#busca_rank.green{
  background-color: #118E56;
}

#busca_rank.blue{
  background-color: #376092;
}

#busca_rank.purple{
  background-color: #6A1B9A;
}

#buscador_rank{
    /*background-color: #4F81BD; */
    border-width: 1px;
    border-color: #223A57; 
    float: right;
    padding: 5px;
    margin: 10px auto;
    overflow: hidden;
}

#buscador_rank.green{
  background-color: #118E56;
}
#buscador_rank.blue{
  background-color: #376092;
}
#buscador_rank.purple{
  background-color: #6A1B9A;
}

#search_rank, #submit_rank, #filter, #etq_filter {
  float: left;
}

#search_rank {
  padding: 5px 9px;
  height: 23px;
  width: 150px;
  margin: 0 0 0 10px;
  border: 1px solid #223A57;
  font: normal 13px;
  font-family: 'Ubuntu', sans-serif;
  background: #f1f1f1;         
}

#submit_rank{       
  border-width: 1px;
  border-style: solid;
  height: 23px;
  margin: 0 0 0 10px;
  padding: 0;
  width: 90px;
  cursor: pointer;
  font: bold 14px;
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
}

#submit_rank.blue{       
  background-color: #4F81BD;
}

#submit_rank.green{       
  background-color: #6AC46E;
}

#submit_rank.purple{       
  background-color: #AB47BC; 
}


#submit_rank.blue:hover {       
    background-color: #223A57;   
}

#submit_rank.green:hover {       
    background-color: #104D32;   
}

#submit_rank.purple:hover {       
    background-color: #4E2068;   
}


#filter_rk{
   height: 23px;
   margin: 0 0 0 5px;
}