@media (min-width: 768px)
{
   body
     {
      /* Seleccionamos la imagen de fondo */
      background-image: url(../img/pizarra.jpg);
      
      /* La imagen se centra en la pantalla */
      background-attachment: fixed;
      
      /* Colocamos la imagen de fondo */
      /*background-size: 50% 100%;*/
      background-position: right;
      background-repeat: no-repeat;
      min-width: 360px;
   }
   
   #contenido_miembros
      {
      width: 100%;
      margin: auto 10px;
      flex-direction: column;
    -webkit-flex-direction: column;
    /*Contenedor flexible con multiples filas (wrap), cada fila con tres div */
    flex-wrap: wrap; 
    -webkit-flex-wrap: wrap;
    /*La division principal ocupa el 100% de la pantalla en horizontal, luego se repartira en cada caja*/
    
   }
}

body > div
{
  display: flex;
  margin: auto 0;
}

@media (max-width: 768px)
{
  body
    {
      background-image: url(../img/pizarra.jpg);
  }
   
  #contenido_miembros
  {
      font-size: 1.2em;
      margin: auto 8%;
      overflow: hidden;
      margin: 10px;
      display: flex;
      flex-direction: column;
      width: 100%;
   }
}

#contenido_miembros > p
{
   margin: 20px 0;
   margin-top: 20px;
   display: flex;
   width: 40%;
   flex-direction: row;
}

#pablo, #fran, #manu, #pino, #sergio
{
  float: left;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  width: 45%;
  margin: 2%;
   margin-bottom: 20px;
   margin-top: 20px;
}

#miembro_foto
{
   float: left;
   display: flex;
   flex-direction: row;
}

#miembro_texto
{
   float: left;
   margin-left: 1%;
   display: flex;
   flex-direction: column;
}

#quienes_somos{
  margin: 20px;
  text-align: center;
}

header
{
  /* Anchura mínima en un bloque normal */
  min-height: 6%;
  
  /* Margen superior para que se vea la pizarra de fondo */
   margin-top: 40px;
   
   /* Esta instrucción indica que el borde debe ocmportarse como si
      fuese un elementro interno del header */
   background-origin: content-box;

   /* Pequeño espacio para que el logo no se junte con el borde */
   padding-left: 1%;
   
   /* Cargamos el icono de vuelta atrás */
   background-image: url(../img/profesconclase_azul.png);
   
   /* Evitamos que se epita por todo el header */
   background-repeat: no-repeat;
  
  /* Redimensionamos la imagen de fondo */
  background-size: contain;
   
   /* Para mantener los botones dentro del header */
   overflow: hidden;
}

#login, #registrarse
{
   /* Para que los botones se alineen a la derecha */
   float: right;
   
   /* Límites del boton */
   min-width: 10%;
   min-height: 6%;
}

footer
{
   /* Para que los botones se coloquen a la izquierda */
   display: flex;
   
   margin-bottom: 40px;
  min-height: 10%;
}

#miembros, #contacto
{
   /* Margen con el inicio del footer */
   margin-top: 10px;
   min-width: 20%;
   min-height: 5%;
}

#miembros > h1, #contacto > h1, #miembros > p, #contacto > p
{
   /* Margen con el borde de la página */
   margin-left: 5%;
}
