body
{
   width: 100%;
   /*
	Para hacer que sea visible en safari
	display : -webkit-flex;
	*/
	
	/* Reseteamos los margenes por defecto del navegador */
	margin: 0px;
   
   /* Para colocar el footer */
   display: flex;
   flex-direction: column;
}

header
{
	/* Anchura mínima en un bloque normal */
	min-height: 6%;
	
	/* Margen superior para que se vea la pizarra de fondo */
   margin-top: 40px;
   
   /* Esta instrucción indica que el borde debe ocmportarse como si
      fuese un elementro interno del header */
   background-origin: content-box;

   /* Pequeño espacio para que el logo no se junte con el borde */
   padding-left: 1%;
   
   /* Cargamos el icono de vuelta atrás */
   background-image: url(../img/profesconclase_azul.png);
   
   /* Evitamos que se epita por todo el header */
   background-repeat: no-repeat;
	
	/* Redimensionamos la imagen de fondo */
	background-size: contain;
   
   /* Para mantener los botones dentro del header */
   overflow: hidden;
}

#login, #registrarse
{
   /* Para que los botones se alineen a la derecha */
   float: right;
   
   /* Límites del boton */
   min-width: 10%;
   min-height: 6%;
}

footer
{
   /* Para que los botones se coloquen a la izquierda */
   display: flex;
   
   margin-bottom: 40px;
	min-height: 10%;
}

#miembros, #contacto
{
   /* Margen con el inicio del footer */
   margin-top: 10px;
   min-width: 20%;
   min-height: 5%;
}

#miembros > h1, #contacto > h1, #miembros > p, #contacto > p
{
   /* Margen con el borde de la página */
   margin-left: 5%;
}