#login, #logout, #registrarse
{
   /* Para que los botones se alineen a la derecha */
   float: right;
   /* Límites del boton */
   min-width: 10%;
   min-height: 6%;
   /* Color de acción */
   background-color: #94B8DD;
   /* Color del borde */
   border-color: #376092;
   /* Color de la fuente */
   color: white;
   /* Tamaño de la fuente */
   font-size: larger;
   /* El cursor se convierte en mano */
   cursor: hand;
}

#titulo{
   text-align: center;
   text-shadow: 1px 1px 1px #333;
   font-size: 30px;
}

#rank{ 
   display: flex;
   flex-direction: column;
   list-style:none; 
   margin:30px auto; 
}

#busca_rank{
   display: flex;
   flex-direction: row;
   
   /*
   flex: X Y J%;
   Flex-grow: crece con un factor de X
   Flex-shrink: se encoje con un factor de Y
   Flex-basis: tamaño inicial del J%
   */
}

#rank li #bloque1{
   margin: auto;
}

#rank li #bloque2{
   text-align-last: start;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   text-align: right;
   margin: auto;
}

@media (min-width: 768px){ /*Tamaño escritorio*/
   #rank li{ 
      display:flex; 
      margin: auto;
      margin-bottom: 20px;
   }

   #profe{
      width: 40%;
   }
}

@media (max-width: 768px){ /*Tamaño Movil*/

   #principal{
      min-width: 400px;
   }

   #rank li{ 
      display:block; 
      margin: auto;
      margin-bottom: 20px;
   }

   #profe{
      text-align: center;
   }

}

/*------------BUSCADOR------------*/
#buscador {
    background-color: #4F81BD;
    border-width: 1px;
    border-color: #223A57; 
    float: right;
    padding: 5px;
    margin: 10px auto;
    overflow: hidden;
}

#search, #submit, #filter, #etq_filter {
    float: left;
}

#search {
    padding: 5px 9px;
    height: 23px;
    width: 150px;
    margin: 0 0 0 10px;
    border: 1px solid #223A57;
    font: normal 13px;
    font-family: 'Ubuntu', sans-serif;
    background: #f1f1f1;         
}

#submit {       
    background-color: #4F81BD;
    border-width: 1px;
    border-style: solid;
    border-color: #223A57;
    height: 23px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover {       
    background-color: #223A57;   
}

#filter{
   height: 23px;
   margin: 0 0 0 5px;
}