#login, #logout, #registrarse
{
   /* Color de acción */
   background-color: #94B8DD;
   /* Color del borde */
   border-color: #376092;
   /* Color de la fuente */
   color: white; 
   /* Tamaño de la fuente */
   font-size: larger;
}

#login, #logout, #registrarse{
	/* El cursor se convierte en mano */
   cursor: hand;
}

* {
    font-family: 'Ubuntu';
    -webkit-user-select: none;
    cursor: default;
}

#principal{
   background-color: #ff077f;
}

#bloque1 img{
   width: 120px; 
   height: 120px;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}


@media (min-width: 768px){ /*Tamaño escritorio*/
  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
}

@media (max-width: 768px){ /*Tamaño Movil*/
  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }


}