
/* De esta forma se hereda el comportamiento de la clase .vista_lista_imagen_elemento */
.vista_lista_imagen_elemento.vista_lista_imagen_elemento_grupo
{
   background-image: url(../img/grupo.png);
}

/* De esta forma se hereda el comportamiento de la clase .vista_lista_imagen_elemento */
.vista_lista_imagen_elemento.vista_lista_imagen_elemento_alumno
{
   background-image: url(../img/alumno.jpg);
}

/* De esta forma se hereda el comportamiento de la clase .vista_lista_imagen_elemento */
.vista_lista_imagen_elemento.vista_lista_imagen_elemento_profesor
{
   background-image: url(../img/profe.jpg);
}

/* De esta forma se hereda el comportamiento de la clase .vista_lista_imagen_elemento */
.vista_lista_imagen_elemento.vista_lista_imagen_elemento_clase
{
   background-image: url(../img/clase.png);
}

.vista_lista_imagen_elemento
{
   background-repeat: no-repeat;
   background-size: 30px 30px;
}

.vista_lista_elemento:hover
{
   background-color: white;
}

.vista_lista_elemento
{
   background-color: lightgray;
   border: 1px;
   border-style: ridge;
}

#vista_lista_presentacion
{
   text-align: center;
   font-weight: bold;
   font-size: 40px;
   margin: 0px;
   padding: 15px;
   border-bottom: 2px black solid;
   margin-bottom: 20px;
}

.vista_lista_titulo_elemento
{
   font-weight: bold;
}

#vista_lista_titulo
{
   font-weight: bold;
   font-size: 30px;
}

@media (min-width: 768px)
{
   #vista_lista_vista
     {
      padding: 0px 20px;
   }
}

.vista_lista_imagen
{
   display: none;
   background-color: lightblue;
   background-image: url(../img/profe.jpg);
   background-repeat: no-repeat;
   background-size: contain;
}

#vista_lista_buscador 
{
    padding: 10px;
}

#vista_lista_search
{
    padding: 5px 9px;
    border: 1px solid #223A57;
    background: #f1f1f1;
    cursor: text;
    width: 70%;
}

#vista_lista_submit
{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 0 0 0 10px;
    padding: 0;
    width: 25%;
    cursor: pointer;
    font: bold 14px;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}