.vista_lista_elemento
{
   display: flex;
   padding: 10px;
}

.vista_lista_imagen_elemento
{
   min-width: 30px;
   min-height: 30px;
   margin-right: 10px;
}

body
{
   display: flex;
   flex-direction: column;
}

#vista_lista_principal
{
   margin: auto 10px;
}

#vista_lista_presentacion
{
   margin: 20px;
}

#vista_lista_detalle
{
   display: flex;
   margin-bottom: 20px;
}

@media (min-width: 768px)
{
   #vista_lista_vista
     {
      width: 100%;
      padding: 0px 20px;
   }
   
   #vista_lista_detalle
     {
      height: 50%;
   }
   
   #vista_lista_contenido
     {
      flex-basis: 40%;
   }
   
   .vista_lista_imagen
     {
      flex-basis: 50%;
      flex-shrink: 2;
      margin-top: 20px;
   }
   
   #vista_lista_container_lista
     {
      width: 70%;
   }
}

@media (max-width: 768px)
{
   #vista_lista_detalle
     {
      height: 60%;
      flex-direction: column;
   }
   
   #vista_lista_titulo
     {
      margin: 20px;
   }
   
   #vista_lista_lista
     {
      min-height: 100px;
      flex-basis: 50%;
   }
   
   #vista_lista_vista
     {
      flex-basis: 50%;
   }
}

#vista_lista_lista
{
   overflow: scroll;
   overflow-x: auto;
}

#vista_lista_vista
{
   display: flex;
   flex-direction: column;
}

#vista_lista_titulo
{
   margin: 20px 0px;
}

#vista_lista_contenido
{
   overflow: auto;
}

#vista_lista_container_lista
{
   display: flex;
   flex-direction: column;
}

#vista_lista_buscador
{
   display: flex;
   min-height: 30px;
}